@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

*{
  font-size: 2vmin;
}

.App {
  text-align: center;
}

.menu.header{
  margin: 0 auto !important;
}

h1{
  top: 15px;
  min-height: 0rem;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  text-shadow: 1px 1px white !important;
}

.mission{
  width: 90%;
  margin: 0 auto !important;
  padding-bottom: 2%;
  overflow: hidden;
  transition: max-height 1s;
}

@media (max-width: 768px) {
  h1.App-title{
    margin: 0 auto;
    font-size: 3vmin;
    text-shadow: 1px 1px white !important;
  }
  .App-title>a{
    font-size: 3vmin;
    color: black;
    margin: 0 auto;
    height: 60%;
    font-weight: bold;
  }
}

@media (min-width: 769px) {
  h1.App.title{
    text-shadow: 1px 1px white !important;
  }

  .App-title>a{
    font-size: 3.5vmin;
    color: black;
    margin: 0 auto;
  }
}

.ui.menu:not(.vertical) .item>.button#log{

}

.ui.menu:not(.vertical) .item>.button#log:hover{
  box-shadow: 0 0 0 2px black inset!important;
  font-weight: bold;
}

.ui.secondary.pointing.menu.main-nav{
  border-color: transparent;
  width: 100%
}

.ui.secondary.pointing.menu .item{
  top: 15px
}

.ui.segment.nav{
  background-image: url('/Treaty-1.jpg');
  background-position: center;
  background-size: cover;
  padding: 1.5em;
  width: 100%;
  border-radius: 0;
}

@media (max-width: 768px) {
  .ui.segment.nav{
    background-size: 175% 275%;
    background-repeat: no-repeat;
  }
}

.list>.item:hover{
  color: green;
  cursor: pointer;
}

.list>.item{
  padding: 2%;
  margin: 0 auto;
  font-size: 90%;
}

.rbc-calendar{
  margin: 0 auto;
  height: 50em;
  width: 95%
}

span.rbc-toolbar-label{
  font-family: Helvetica;
  font-size: 3vmin;
}

@media (max-width: 768px) {
  div.rbc-toolbar>span.rbc-btn-group>button{
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}

.ui.list.groups{
  margin: 0 auto;
  text-align: center;
}

.left{
  float: left;
  -webkit-transition: left 2s, ease-out width 2s;
    transition: left 2s, ease-out width 2s;
    overflow: hidden;
    font-size: 1em;
    direction: rtl
}

.riight{
  float: right;
  -webkit-transition: right 2s, width 2s;
    transition: right 2s, width 2s;
    direction: ltr;
}

.page{
  width: 95%;
  margin: 0 auto;
}

.page:after {
    content: "";
    display: table;
    clear: both;
}

.addevent .addgroup{
  display: inline-block;
  white-space: nowrap;
  border-radius: 4px;
}

.add{
  margin: 10%;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list{
  padding: 0px
}

.react-datepicker-wrapper{
  width: auto;
}
