@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300");

@font-face {
  font-family: "OratorStd";
  src: url("/fonts/OratorStd.otf");
}

* {
  font-size: 2vmin;
}

.App {
  text-align: center;
}

.ui.secondary.pointing.menu a.item:hover {
  text-decoration: underline;
}

.ui.secondary.pointing.menu .header.item {
  margin: 0 auto;
}

.ui.fluid.dropdown {
  width: auto;
  float: right;
  margin-right: 1%;
  max-width: 98%;
  border-radius: 0rem;
  font-family: "OratorStd", sans-serif !important;
  margin-bottom: 1%;
}

.ui.fluid.dropdown.groups {
  border-radius: 0rem;
  font-family: "OratorStd";
  width: 25%;
  margin: 0 auto;
  margin-right: 1%;
  float: right;
}

.groups.ui.dropdown .menu .selected.item,
.ui.dropdown.selected,
.ui.dropdown .menu .active.item {
  font-weight: bold;
  text-decoration: underline;
  color: white;
  background-color: rgb(53, 117, 171);
}

.ui.selection.dropdown .menu > .item {
  font-size: 2vmin;
}

.ui.button.new {
  border-radius: 0rem;
  font-family: "OratorStd", sans-serif !important;
  background-color: white;
  border: 1px solid #adadad;
}

.ui.button.submit {
  color: white;
  background-color: rgb(53, 117, 171);
}

.ui.button.delete {
  color: white;
  background-color: rgb(232, 69, 60);
  border-radius: 0rem;
  font-family: "OratorStd";
}

.ui.button.delete:hover {
  color: white;
  background-color: rgb(202, 59, 20);
}

.ui.button.submit:hover {
  background-color: rgb(53, 117, 171);
  color: white;
  border-color: white;
}

.ui.form .field > label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
}

.ui.button.toggle {
  float: right;
  border-radius: 0rem;
  font-family: "OratorStd";
}

.ui.card.event {
  width: 100%;
  margin: 0 auto;
}

.ui.checkbox {
  margin: 1%;
}

.ui.checkbox input.hidden + label {
  font-size: 2vmin;
}

.ui.form input,
.ui.form textarea,
.ui.form .field > label,
.ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
  font-family: "OratorStd" !important;
}

h1 {
  min-height: 0rem;
  font-family: "OratorStd", sans-serif !important;
  text-shadow: 1px 1px white !important;
  margin: 0 auto !important;
  width: 60vw;
}

h2 {
  font-family: "OratorStd", sans-serif !important;
}

.mission {
  width: 90%;
  margin: 0 auto !important;
  padding-bottom: 2%;
  overflow: hidden;
  transition: opacity 1s ease-in-out, max-height 1s;
  text-align: justify;
  font-family: "OratorStd", sans-serif !important;
}

@media (max-width: 768px) {
  h1.App-title {
    margin: 0 auto;
    font-size: 2.5vmin;
    text-shadow: 1px 1px white !important;
    font-family: "OratorStd", sans-serif !important;
  }

  button.addgroup,
  button#admin {
    font-size: 1em;
    padding: 0 0.25rem;
  }

  h2.title {
    font-size: 3.5vmin;
  }
  .App-title {
    font-size: 3vmin;
    color: black;
    height: 50%;
    font-weight: bold;
  }

  .ui.secondary.pointing.menu a.item {
    font-family: "OratorStd" !important;
  }

  .ui.secondary.pointing.menu .item#log {
    padding: 1% !important;
    margin: 0.25% !important;
  }

  .ui.menu:not(.vertical) .item > .button#log {
    margin-bottom: 5%;
  }

  .ui.secondary.pointing.menu a.item {
    padding-left: 0 !important;
    margin-right: 1%;
  }

  .header.item {
    margin: 0 auto;
    width: 40%;
  }

  p {
    font-size: 0.75em;
    margin: 0;
  }

  .about {
    line-height: 100%;
  }

  .resource {
    height: 30vw;
  }

  .ui.segment.nav {
    background-size: 175% 275%;
    background-repeat: no-repeat;
  }

  .addgroup {
    box-sizing: border-box;
    line-height: 1;
    font-size: 50%;
  }

  .addevent {
    box-sizing: border-box;
    line-height: 1;
    font-size: 50%;
  }

  .header.item {
    margin: 0 auto;
    width: 40%;
  }

  .column.left {
    margin-top: 13%;
  }

  div.members {
    margin: 10% 0;
  }
}

@media (min-width: 769px) {
  h1.App.title {
    text-shadow: 1px 1px white !important;
    font-family: "OratorStd", sans-serif !important;
  }

  h2.title {
    font-size: 3.5vmin;
  }

  .App-title {
    font-size: 4vmin;
    color: black;
    margin: 0 auto;
  }

  .ui.secondary.pointing.menu .item.header {
    padding: 0;
  }
}

/* End Media Query */
.ui.secondary.pointing.menu .item {
  font-family: "OratorStd", sans-serif !important;
  font-weight: bold;
}

.ui.menu:not(.vertical) .item > .button#log {
  font-family: "OratorStd", sans-serif !important;
  font-size: 1.5vmin;
  font-weight: bold;
  border-radius: 0rem;
}

.ui.menu:not(.vertical) .item > .button#log:hover {
  font-weight: bold;
  text-shadow: 1px 1px white !important;
}

.ui.secondary.pointing.menu.main-nav {
  border-color: transparent;
  width: 100%;
  padding-top: 4%;
  position: absolute;
  bottom: 0;
  height: 100%;
  background-color: rgba(243, 240, 241, 0.3);
}

.ui.segment.nav {
  background-image: url("/island.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 0;
  height: 30vmin;
  padding: 0;
}

.group {
  padding: 2%;
  margin: 0 auto;
  font-size: 90%;
  font-family: "OratorStd";
}

.group:hover {
  cursor: pointer;
  background-color: rgb(229, 229, 229);
}
.footer {
  width: 98%;
  background-color: rgb(208, 105, 88);
  min-height: 4em;
  margin: 0 auto;
  margin-bottom: 2%;
  overflow: overlay;
  text-align: justify;
  padding: 0.5%;
  font-family: "OratorStd";
}

.footer > div > p {
  font-size: 1.5vmin;
}

.meetings {
  margin: 3% 0;
  padding: 3%;
  text-align: left;
  background-color: rgb(231, 255, 255);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  height: 15vmin;
  overflow-y: auto;
}

.meetings > p {
  font-size: 1.5vmin;
  text-align: left;
  flex-shrink: 3;
}

.resource {
  margin: 3% 0;
}

.map {
  background-image: url("/map2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 13vw;
  margin: 3% 0;
}

.canal {
  background-image: url("/plane.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 13vw;
  margin: 3% 0;
}

.members {
  margin: 5% 0;
}

.groups {
  margin: 2%;
}

.about {
  float: left;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out, left 1s, ease-in-out width 1s;
  transition: opacity 2s ease-in-out, left 1s, ease-in-out width 1s;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 3%;
  text-align: left;
}

ul,
li,
li > a,
p.legend {
  font-size: 1.5vmin;
  list-style-type: none;
  text-align: left;
  margin: 0;
  color: black;
  padding-left: 0;
}

li > a:hover {
  text-decoration: underline;
}

h6 {
  font-size: 1.5vmin;
  margin: 0;
}

.left {
  float: left;
  display: flex;
  flex-direction: column;
  -webkit-transition: opacity 1s ease-in-out, left 1s, ease-in-out width 1s;
  transition: opacity 1s ease-in-out, left 1s, ease-in-out width 1s;
  font-size: 1em;
}

.riight {
  float: right;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  direction: ltr;
}

.page {
  width: 98%;
  margin: 0 auto;
}

.page:after {
  content: "";
  display: table;
  clear: both;
}

#admin {
  border-radius: 0rem;
  background: transparent;
  font-family: "OratorStd";
  font-size: 1.75vmin;
  max-height: 20%;
  padding: 0.375rem 1rem;
  line-height: 2em;
  float: left;
  margin-left: 1%;
}

div.header.user {
  font-family: "OratorStd" !important;
}

.ui.toggle.checkbox.admin-toggle input:checked ~ .box:before,
.ui.toggle.checkbox.admin-toggle input:checked ~ label:before,
.ui.toggle.checkbox.admin-toggle input:focus:checked ~ .box:before,
.ui.toggle.checkbox.admin-toggle input:focus:checked ~ label:before {
  background-color: rgb(70, 194, 10) !important;
}

.addgroup {
  white-space: nowrap;
  border-radius: 0rem;
  background: transparent;
  border: 1px solid #ccc;
  font-family: "OratorStd";
  font-size: 1.75vmin;
  max-height: 20%;
  padding: 0.375rem 1rem;
  float: right;
  margin-right: 1%;
}

button.addgroup,
button.addevent {
  line-height: 2em;
}

.addevent {
  border-radius: 0rem;
  background: transparent;
  border: 1px solid #ccc;
  font-family: "OratorStd";
  font-size: 1.75vmin;
  max-height: 10%;
  padding: 0.375rem 1rem;
  float: right;
  margin-right: 0.5%;
  line-height: 1em;
}

button:hover {
  cursor: pointer;
}

span.rbc-toolbar-label {
  font-family: "OratorStd";
  font-size: 3vmin;
}

@media (max-width: 768px) {
  div.rbc-toolbar > span.rbc-btn-group > button {
    padding: 2px 4px;
    font-size: 80%;
    line-height: 1;
  }
}

.rbc-calendar {
  margin: auto;
  height: 50em;
  width: 100%;
  height: 40em;
  padding: 1%;
}

.rbc-header {
  padding: 4px 3px;
}

.rbc-header,
.rbc-btn-group > button {
  font-family: "OratorStd";
  border-radius: 0;
}

.rbc-date-cell > a {
  font-family: "OratorStd";
}

.rbc-row-segment .rbc-event-content {
  font-family: "OratorStd";
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  padding: 0px;
}

.react-datepicker-wrapper {
  width: 50%;
}

.react-datepicker__input-container {
  margin-bottom: 1em;
  width: 100%;
}

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  margin-bottom: 1em;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: 0.5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: 0.5em 0.65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
.geosuggest__item__matched-text {
  font-weight: bold;
}
