
*{
  font-size: 2vmin;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@media (max-width: 768px) {
  h1.App-title{
    margin: 0px;
  }
  .App-title>a{
    font-size: .5em;
  }
}

@media (min-width: 769px) {
  .App-title>a{
    font-size: 1em;
  }
}

.App-intro {
  font-size: large;
}

.ui.menu:not(.vertical) .item>.button#log{
  top: 2px;
}

.ui.menu:not(.vertical) .item>.button#log:hover{
  box-shadow: 0 0 0 2px #FFF inset!important;
}

.ui.secondary.inverted.pointing.menu.main-nav{
  border-color: transparent;
  width: 100%
}

.ui.inverted.segment.nav{
  background: green;
  padding: .5em;
}

.list>.item:hover{
  color: green;
  cursor: pointer;
}

.list>.item{
  padding: 2%;
  margin: 0 auto;
  font-size: 90%;
}

.rbc-calendar{
  margin: 0 auto;
  height: 50em;
  width: 95%
}

span.rbc-toolbar-label{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 3vmin;
}

@media (max-width: 768px) {
  div.rbc-toolbar>span.rbc-btn-group>button{
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}

.ui.list.groups{
  margin: 0 auto;
  text-align: center;
}

.left{
  float: left;
  -webkit-transition: width 2s;
    transition: width 2s;
    overflow:hidden;
    font-size: 1em;
}

.riight{
  float: right;
  -webkit-transition: right 2s, width 2s;
    transition: right 2s, width 2s;
    direction: ltr;
}

.page{
  width: 95%;
  margin: 0 auto;
}

.page:after {
    content: "";
    display: table;
    clear: both;
}

.ui.icon.button.addgroup{
  margin: 10px;
}
